/* main bg #FAEBD7 */
/* second bg #F5DEB3 */
/* hover bg #FFFACD*/

@font-face {
  font-family: logoFont;
  src: url(font/TheStrangerBrush.ttf);
}

.header{
	display: flex;
	justify-content: space-between;
}

.header span{
	font-size: 45px;
	font-family: logoFont;
}

.logo{
	max-width: 30px;
	max-height: 30px;
}

.center-block{
	display: flex;
}

.content{
	flex: 1;
}

.menu a{
	display: flex;
	align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background: #FAEBD7;	
	text-transform: uppercase;
}

.menu a.icon::before{
	margin-right: 3px;
}

.menu a.useful{
	box-shadow: 2px 3px black;
    border-color: blue;
}

.image{
	margin: 5px;
	border: 1px #F5DEB3 solid;
    width: 400px;
    height: 500px;
	border-radius: 16px;
	display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.image .name{
	display: flex;
	justify-content: center;
	border-bottom: 1px #ccc solid;
    font-size: 20px;
    font-family: logoFont;
}

.image .preview{
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	
	overflow: hidden;
    width: 100%;
    height: 100%;
}

.image .preview img{
	max-width: 100%;
	max-height: 100%;
}

.image .buttons{
	display: flex;
    justify-content: space-between;
	border-top: 1px #ccc solid;
}

.image .buttons .button{
	display: flex;
	justify-content: center;
	flex: 1;
    padding: 5px;
	border-left: 1px #ccc solid;
}

.image .buttons .button:first-child{
	border-bottom-left-radius: 15px;
	border-left: 0;
}

.image .buttons .button:last-child{
	border-bottom-right-radius: 15px;
}

.button{
	border: 1px #F5DEB3 solid;
    background: #FAEBD7;
	text-decoration: none;
}

.button:hover{
	background: #FFFACD;
}

.go-up{
	font-size: 30px;
	color: red;
	position: fixed;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: flex-end;
}

.image:target{
	background: aqua;
}

.page{
	display: none;
    flex-wrap: wrap;
}

.page:target{
	display: flex;
}

.images-container{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

#gallery{
	justify-content: flex-end;
}
#gallery .icon.up::before{
	width: 120px;
    height: 120px;
}
.menu{
	width: 70px;
	border: 1px #ccc solid;
	min-height: 500px;
}
.menu a{
	width: 45px;
}

.menu .links:hover a{
	width: 140px;
}

.links{
	position: fixed;
	width: 65px;
	overflow: hidden;
}

.links:hover{
	width: 160px;
}

.links .button span{
	display: none;
}

.links:hover .button span{
	display: block;
}










