header{
	font-size: 40px;
    display: flex;
    justify-content: center;
    background: aliceblue;
    height: 70px;
    align-items: center;
}

div {
	color: red;
}

.green {
	color: green;
}

img{
	max-width: 100px;
	max-height: 100px;
}

.parent{
	display: flex;
}

.top{
	font-size: 20px;
	font-weight: bold;
}

.button{
	background: aliceblue;
    border: 1px blueviolet solid;
    border-radius: 10px;
    padding: 2px 7px;
    margin: 3px;
    display: block;
}

.right-text{
	display: flex;
	flex-wrap: wrap;
}

.right-text .tip {
    border: 1px #ccc solid;
    border-radius: 10px;
    margin: 5px;
    padding: 3px 7px;
}

.blokV2.tip{
	width: 400px;
    height: 400px;
    margin: 5px;
    padding: 2px;
	background: deepskyblue;
	display: flex;
    flex-direction: column;
}
.buttons{
	display: flex;
	height: 28px;
}

.button{
	flex: 1;
	display: flex;
	justify-content: center;
}
.name{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	border: 1px blueviolet solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	background: #fff;
}
.images{
	display: flex;
	flex: 1;
}
.image-container{
	flex: 1;
	border: 1px blueviolet solid;
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 2px;
	margin-bottom: 0;
	background: #fff;
	
	position: relative;/* Это раз */
}
.image-container:first-child{
	margin-left:0;
}
.image-container:last-child{
	margin-right:0;
}
.images img{
	max-width: 100%;
	max-height: 100%;
	/* Это Два */
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttons .button{
	border-radius:0;
	margin:2px;
}
.buttons .button:first-child{
	border-bottom-left-radius: 10px;
	margin-left: 0;
}

.buttons .button:last-child{
	border-bottom-right-radius: 10px;
	margin-right: 0;
}

.right-text .blokV2.tip.horizontal{
	flex-direction: row;
}

.right-text .vertical{
	flex-direction: column;
}

.column{
	flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: aliceblue;
    margin: 2px;
    border-radius: 5px;
	height: calc(100% - 2px * 2); 
}
.right-text .row
{
	display: flex;
	flex: 1;
    justify-content: center;
    align-items: center;
    overflow: hidden;
	background: antiquewhite;
    margin: 2px;
    border-radius: 5px;
}
   

.column img,
.row img{
	max-width: 100%;
	max-height: 100%;
}

.cell{
	
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}




.card{
	width: 500px;
	height: 500px;
	display: flex;
}

























